body {
  font-family: 'Courier New', Courier, monospace;
}

main {
  padding: 50px;
  margin: auto;
  background-color: #dadada;
  max-width: 800px;
}

.cta {
  background-color: #b9b9b9;
  padding: 10px;
  text-decoration: underline;
}

li {
  margin-right: 50px;
}
